In [7]:
#----------------------------------------------------------------------------------
# Connection to pyVMMonitor for profiling
#----------------------------------------------------------------------------------
import sys
sys.path.append('D:\\Program Files\\Brainwy\\PyVmMonitor 1.1.2\\public_api')
import pyvmmonitor
pyvmmonitor.connect()

In [8]:
#----------------------------------------------------------------------------------
# Query : Libraries Imports
#----------------------------------------------------------------------------------
from configparser import ConfigParser
from sqlalchemy import create_engine
from datetime import datetime
import pandas as pd
import numpy as np
from datetime import date, timedelta

# Load connexion configuration file
#----------------------------------------------------------------------------------
config_filename = "./conf/GetWeather.ini"

# Read config.ini file
config_object = ConfigParser()
config_object.read(config_filename)
if  not config_object:
    print("Error while loading configuration !!!")

# Log initialization
cfg = config_object['INFO']
# Establish connection with DB (using sqlalchemy)
#-----------------------------------------------------------------------------------------------------
db_connection_str = "mysql+pymysql://{}:{}@{}/WeatherDB".format(cfg['user'],cfg['password'],cfg['host'])
db_connection = create_engine(db_connection_str)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# List all occurences of every records
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT 
	  id, 
    date_timestamp,
    id_location, 
    ROW_NUMBER() OVER ( 
		PARTITION BY date_timestamp 
        ORDER BY date_timestamp
	  ) AS row_num 
    FROM RawRecords;""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : List duplicates
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT id,id_location, date_timestamp,row_num
    FROM (
      SELECT 
          id, 
          date_timestamp,
          id_location, 
          ROW_NUMBER() OVER ( 
          PARTITION BY date_timestamp 
              ORDER BY date_timestamp
        ) AS row_num 
      FROM RawRecords) td
    WHERE row_num > 1;""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [4]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : Count all duplicates found in table 
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT COUNT(id) AS totalDuplicates
    FROM (
    SELECT 
        id, 
        date_timestamp,
        id_location, 
        ROW_NUMBER() OVER ( 
            PARTITION BY date_timestamp 
            ORDER BY date_timestamp
        ) AS row_num 
    FROM RawRecords) td
    WHERE row_num > 1;""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

   totalDuplicates
0                5

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : Delete all duplicates found in table
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SET SQL_SAFE_UPDATES=0;
	DELETE FROM RawRecords 
	WHERE (
		id IN (
		SELECT id
		FROM (
			SELECT 
				id, 
				date_timestamp,
				id_location, 
				ROW_NUMBER() OVER ( 
					PARTITION BY date_timestamp 
					ORDER BY date_timestamp
				) AS row_num 
			FROM RawRecords) td
			WHERE row_num > 1
		)
	);""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByDay
# List all occurences of every records
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
    """ SELECT 
        id, 
        timestamp,
        idLocation, 
        ROW_NUMBER() OVER ( 
        PARTITION BY timestamp 
            ORDER BY timestamp
      ) AS row_num 
    FROM RecordsByDay;""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByDay
# Query : List duplicates
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT id,idLocation, timestamp,row_num
    FROM (
    SELECT 
        id, 
        timestamp,
        idLocation, 
        ROW_NUMBER() OVER ( 
            PARTITION BY timestamp 
            ORDER BY timestamp
        ) AS row_num 
    FROM RecordsByDay) td
    WHERE row_num > 1;""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByDay
# Query : Count all duplicates found in table 
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT COUNT(id) AS totalDuplicates
    FROM (
    SELECT 
        id, 
        timestamp,
        idLocation, 
        ROW_NUMBER() OVER ( 
            PARTITION BY timestamp 
            ORDER BY timestamp
        ) AS row_num 
    FROM RecordsByDay) td
    WHERE row_num > 1;""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByDay
# Query : Delete all duplicates found in table
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SET SQL_SAFE_UPDATES=0;
	DELETE FROM RecordsByDay 
	WHERE (
		id IN (
		SELECT id
		FROM (
			SELECT 
				id, 
				timestamp,
				idLocation, 
				ROW_NUMBER() OVER ( 
					PARTITION BY timestamp 
					ORDER BY timestamp
				) AS row_num 
			FROM RecordsByDay) td
			WHERE row_num > 1
		)
	);""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByHour
# Query : List all occurences of every records
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT 
	id, 
    timestamp,
    idLocation, 
    ROW_NUMBER() OVER ( 
		PARTITION BY timestamp 
        ORDER BY timestamp
	) AS row_num 
    FROM RecordsByHour;""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByHour
# Query : List duplicates
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT id,idLocation, timestamp,row_num
    FROM (
    SELECT 
      id, 
        timestamp,
        idLocation, 
        ROW_NUMBER() OVER ( 
        PARTITION BY timestamp 
            ORDER BY timestamp
      ) AS row_num 
    FROM RecordsByHour) td
    WHERE row_num > 1;""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByHour
# Query : Count all duplicates found in table 
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT COUNT(id) AS totalDuplicates
    FROM (
    SELECT 
    id, 
      timestamp,
      idLocation, 
      ROW_NUMBER() OVER ( 
      PARTITION BY timestamp 
          ORDER BY timestamp
    ) AS row_num 
    FROM RecordsByHour) td
    WHERE row_num > 1;	);""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByHour
# Query : Delete all duplicates found in table RecordsByHour
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
"""	SET SQL_SAFE_UPDATES=0;
	DELETE FROM RecordsByHour 
	WHERE (
		id IN (
		SELECT id
		FROM (
			SELECT 
				id, 
				timestamp,
				idLocation, 
				ROW_NUMBER() OVER ( 
					PARTITION BY timestamp 
					ORDER BY timestamp
				) AS row_num 
			FROM RecordsByHour) td
			WHERE row_num > 1
		)
	)""",
	con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByMonth
# Query : List all occurences of every records
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT 
	  id, 
    timestamp,
    idLocation, 
    ROW_NUMBER() OVER ( 
		PARTITION BY timestamp 
        ORDER BY timestamp
	  ) AS row_num 
    FROM RecordsByMonth;	);""",
	  con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:

#----------------------------------------------------------------------------------
# Table : RecordsByMonth
# Query : List duplicates
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT id,idLocation, timestamp,row_num
    FROM (
    SELECT 
      id, 
        timestamp,
        idLocation, 
        ROW_NUMBER() OVER ( 
        PARTITION BY timestamp 
            ORDER BY timestamp
      ) AS row_num 
    FROM RecordsByMonth) td
    WHERE row_num > 1;	);""",
	con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByMonth
# Query : Count all duplicates found in table 
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT COUNT(id) AS totalDuplicates
    FROM (
    SELECT 
      id, 
        timestamp,
        idLocation, 
        ROW_NUMBER() OVER ( 
        PARTITION BY timestamp 
            ORDER BY timestamp
      ) AS row_num 
    FROM RecordsByMonth) td
    WHERE row_num > 1;	);""",
	con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RecordsByMonth
# Query : Delete all duplicates found in table
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SET SQL_SAFE_UPDATES=0;
	DELETE FROM RecordsByMonth 
	WHERE (
		id IN (
		SELECT id
		FROM (
			SELECT 
				id, 
				timestamp,
				idLocation, 
				ROW_NUMBER() OVER ( 
					PARTITION BY timestamp 
					ORDER BY timestamp
				) AS row_num 
			FROM RecordsByMonth) td
			WHERE row_num > 1
		)
	);""",
	con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)