In [3]:
#-----------------------------------------------------------------------------------------------------
# Connection to pyVMMonitor for profiling
#-----------------------------------------------------------------------------------------------------
import sys
sys.path.append('D:\\Program Files\\Brainwy\\PyVmMonitor 1.1.2\\public_api')
import pyvmmonitor
pyvmmonitor.connect()

In [1]:
# Libraries Imports
#-----------------------------------------------------------------------------------------------------
from configparser import ConfigParser
from sqlalchemy import create_engine
from datetime import datetime
import pandas as pd
import numpy as np
from datetime import date, timedelta

# Load connexion configuration file
#-----------------------------------------------------------------------------------------------------
config_filename = "./conf/GetWeather.ini"

# Read config.ini file
config_object = ConfigParser()
config_object.read(config_filename)
if  not config_object:
    print("Error while loading configuration !!!")

# Log initialization
cfg = config_object['INFO']
# Establish connection with DB (using sqlalchemy)
#-----------------------------------------------------------------------------------------------------
db_connection_str = "mysql+pymysql://{}:{}@{}/WeatherDB".format(cfg['user'],cfg['password'],cfg['host'])
db_connection = create_engine(db_connection_str)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : List records created by locations and creation dates
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
"""SELECT date(date_timestamp) AS dte, Locations.name, count(date_timestamp) AS nb_records
    FROM RawRecords
    INNER JOIN Locations ON Locations.id = RawRecords.id_location
    WHERE id_location IN (SELECT id FROM Locations)
    GROUP BY id_location, date(date_timestamp) 
    ORDER BY date(date_timestamp);""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : List records created by locations and creation dates grouped 
#         by locations + month
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT date(date_timestamp) AS dte, Locations.name AS LName, count(date_timestamp) AS nb_records
    FROM RawRecords
    INNER JOIN Locations ON Locations.id = RawRecords.id_location
    WHERE MONTH(DATE(date_timestamp)) in (SELECT MONTH(DATE(date_timestamp)) FROM RawRecords GROUP BY MONTH(DATE(date_timestamp)))
    AND ( id_location IN (SELECT id FROM Locations) ) 
    GROUP BY id_location, month(date_timestamp) 
    ORDER BY id_location, month(date_timestamp);""",
    con=db_connection  
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : Count all records
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT COUNT(*) AS totalRecs 
    FROM RawRecords;""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : Count sorted number of records per locations
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
    """ SELECT Locations.name as name, COUNT(*) as nbRecords
        FROM RawRecords
        INNER JOIN Locations ON RawRecords.id_location = Locations.id
        GROUP BY id_location
        ORDER BY nbRecords DESC;""", 
        con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(10)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# List records created by locations and creation dates
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT date(date_timestamp) AS dte, Locations.name, count(date_timestamp) AS nb_records
    FROM RawRecords
    INNER JOIN Locations ON Locations.id = RawRecords.id_location
    WHERE id_location IN (SELECT id FROM Locations)
    GROUP BY id_location, date(date_timestamp) 
    ORDER BY date(date_timestamp);""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(1009)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : List records created by locations and creation dates grouped 0
#         by locations + month
#----------------------------------------------------------------------------------

raw_data = pd.read_sql(
""" SELECT date(date_timestamp) AS dte, Locations.name AS LName, count(date_timestamp) AS nb_records
    FROM RawRecords
    INNER JOIN Locations ON Locations.id = RawRecords.id_location
    WHERE MONTH(DATE(date_timestamp)) in (SELECT MONTH(DATE(date_timestamp)) FROM RawRecords GROUP BY MONTH(DATE(date_timestamp)))
    AND ( id_location IN (SELECT id FROM Locations) ) 
    GROUP BY id_location, month(date_timestamp) 
    ORDER BY id_location, month(date_timestamp);""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Select MIN,MAX,AVG by locations and creation dates grouped by locations + day
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT date(date_timestamp) AS dte, Locations.name AS LName, 
    (round(min(temp),2) - 273.15) as minTemp, (round(max(temp),2) - 273.15) as maxTemp, (round(avg(temp), 2) - 273.15) as avgTemp,
    round(min(humidity),2) as minHumidity, round(max(humidity),2) as maxHumidity, round(avg(humidity), 2) as avgHumidity,
    round(min(pressure),2) as minPressure, round(max(pressure),2) as maxPressure, round(avg(pressure), 2) as avgPressure,
    round(sum(rain_1h))
    FROM RawRecords
    INNER JOIN Locations ON Locations.id = RawRecords.id_location
    WHERE id_location IN (SELECT id FROM Locations)
    GROUP BY id_location, month(date_timestamp),day(date_timestamp)
    ORDER BY id_location, date_timestamp; """,
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Select MIN,MAX,AVG by locations and creation dates grouped by locations + month
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
""" SELECT date(date_timestamp) AS dte, Locations.name AS LName, 
    (round(min(temp),2) - 273.15) as minTemp, (round(max(temp),2) - 273.15) as maxTemp, (round(avg(temp), 2) - 273.15) as avgTemp,
    round(min(humidity),2) as minHumidity, round(max(humidity),2) as maxHumidity, round(avg(humidity), 2) as avgHumidity,
    round(min(pressure),2) as minPressure, round(max(pressure),2) as maxPressure, round(avg(pressure), 2) as avgPressure
    FROM RawRecords
    INNER JOIN Locations ON Locations.id = RawRecords.id_location
    WHERE MONTH(DATE(date_timestamp)) in (SELECT MONTH(DATE(date_timestamp)) FROM RawRecords GROUP BY MONTH(DATE(date_timestamp)))
    AND ( id_location IN (SELECT id FROM Locations) ) 
    GROUP BY id_location, month(date_timestamp) 
    ORDER BY id_location, month(date_timestamp);""",
    con=db_connection
)
pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : Count frozen days this year by location(s)
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
    """
        SELECT LocationName, count(date)
        FROM (
                SELECT date(date_timestamp) AS date, Locations.name AS LocationName
                FROM RawRecords
                INNER JOIN Locations ON Locations.id = RawRecords.id_location
                WHERE (id_location ) 
                GROUP BY id_location, MONTH(date_timestamp), DAY(date_timestamp)
                HAVING ( (round(max(temp), 2) - 273.15) < 0)
        ) tmpTable
        GROUP BY tmpTable.LocationName
        ;
    """,
    con=db_connection
)

pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : Count cold days (below 10°C) this year by location(s)
#----------------------------------------------------------------------------------

raw_data =  pd.read_sql(
    """
        SELECT LocationName, count(date)
        FROM (
                SELECT date(date_timestamp) AS date, Locations.name AS LocationName
                FROM RawRecords
                INNER JOIN Locations ON Locations.id = RawRecords.id_location
                WHERE (id_location ) 
                GROUP BY id_location, MONTH(date_timestamp), DAY(date_timestamp)
                HAVING ( (round(max(temp), 2) - 273.15) < 10)
        ) tmpTable
        GROUP BY tmpTable.LocationName
        ;
    """,
    con=db_connection
)

pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : Count hot days (over 20°C including night) this year by location(s)
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
    """
        SELECT LocationName, count(date)
        FROM (
                SELECT date(date_timestamp) AS date, Locations.name AS LocationName
                FROM RawRecords
                INNER JOIN Locations ON Locations.id = RawRecords.id_location
                WHERE (id_location ) 
                GROUP BY id_location, MONTH(date_timestamp), DAY(date_timestamp)
                HAVING ( (round(min(temp), 2) - 273.15) >= 20)
        ) tmpTable
        GROUP BY tmpTable.LocationName
        ;
    """,
    con=db_connection
)

pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [ ]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : Count snow days  this year by location(s) anmd date
#----------------------------------------------------------------------------------
raw_data = pd.read_sql(
    """
        SELECT LocationName, count(date) AS snowDays
        FROM (
                SELECT date(date_timestamp) AS date, Locations.name AS LocationName, round((temp - 273.15),2) AS t
                FROM RawRecords
                INNER JOIN Locations ON Locations.id = RawRecords.id_location
                WHERE (id_location AND rain_1h > 0 ) 
                GROUP BY id_location, YEAR(date_timestamp), MONTH(date_timestamp), DAY(date_timestamp)
                HAVING ( t <= 2)
        ) tmpTable
        GROUP BY tmpTable.LocationName
        ;
    """,
    con=db_connection
)

pdata = pd.DataFrame(raw_data)
pdata.head(100)

In [25]:
#----------------------------------------------------------------------------------
# Table : RawRecords
# Query : Count rain/snow consecutive days and return a list of periods
#----------------------------------------------------------------------------------
import datetime
raw_data = pd.read_sql(
    """
        SELECT date(date_timestamp) AS date, Locations.name AS LocationName, round(avg(rain_1h) * 24,2) AS rain
        FROM RawRecords
        INNER JOIN Locations ON Locations.id = RawRecords.id_location
        WHERE (id_location = 6) AND (rain_1h > 0 ) 
        GROUP BY id_location, MONTH(date_timestamp), DAY(date_timestamp)
        HAVING ( rain > 0)
    """,
    con=db_connection
)

pdata = pd.DataFrame(raw_data)
tmpList = []
patternList = []
lastDate = datetime.datetime(1970,1,1)

for item in pdata.iterrows():
        if (item[1]['date'] != (lastDate + datetime.timedelta(days=1))):
            patternList.append(tmpList)
            tmpList = []   
        tmpList.append(item[1]) 
        lastDate = item[1]['date']

for item in patternList:
    print("item -> {}".format(item))

item -> []
item -> [date            2022-01-02
LocationName     Hérémence
rain                  4.68
Name: 0, dtype: object, date            2022-01-03
LocationName     Hérémence
rain                  4.38
Name: 1, dtype: object]
item -> [date            2021-07-31
LocationName     Hérémence
rain                 18.15
Name: 2, dtype: object, date            2021-08-01
LocationName     Hérémence
rain                 22.35
Name: 3, dtype: object]
item -> [date            2021-08-11
LocationName     Hérémence
rain                 11.09
Name: 4, dtype: object, date            2021-08-12
LocationName     Hérémence
rain                 81.69
Name: 5, dtype: object, date            2021-08-13
LocationName     Hérémence
rain                 26.51
Name: 6, dtype: object]
item -> [date            2021-08-22
LocationName     Hérémence
rain                 13.56
Name: 7, dtype: object]
item -> [date            2021-09-04
LocationName     Hérémence
rain                  11.0
Name: 8, dtype: object]
item -> [date            2021-09-09
LocationName     Hérémence
rain                 17.21
Name: 9, dtype: object, date            2021-09-10
LocationName     Hérémence
rain                 24.78
Name: 10, dtype: object]
item -> [date            2021-09-14
LocationName     Hérémence
rain                   3.6
Name: 11, dtype: object, date            2021-09-15
LocationName     Hérémence
rain                  23.6
Name: 12, dtype: object, date            2021-09-16
LocationName     Hérémence
rain                  8.71
Name: 13, dtype: object]
item -> [date            2021-09-18
LocationName     Hérémence
rain                  6.48
Name: 14, dtype: object, date            2021-09-19
LocationName     Hérémence
rain                  84.5
Name: 15, dtype: object, date            2021-09-20
LocationName     Hérémence
rain                  7.33
Name: 16, dtype: object]
item -> [date            2021-09-25
LocationName     Hérémence
rain                  8.27
Name: 17, dtype: object, date            2021-09-26
LocationName     Hérémence
rain                 14.24
Name: 18, dtype: object, date            2021-09-27
LocationName     Hérémence
rain                  5.04
Name: 19, dtype: object]
item -> [date            2021-09-29
LocationName     Hérémence
rain                 26.95
Name: 20, dtype: object]
item -> [date            2021-10-02
LocationName     Hérémence
rain                   4.7
Name: 21, dtype: object, date            2021-10-03
LocationName     Hérémence
rain                  4.51
Name: 22, dtype: object, date            2021-10-04
LocationName     Hérémence
rain                 14.44
Name: 23, dtype: object, date            2021-10-05
LocationName     Hérémence
rain                  13.4
Name: 24, dtype: object, date            2021-10-06
LocationName     Hérémence
rain                  8.76
Name: 25, dtype: object]
item -> [date            2021-10-21
LocationName     Hérémence
rain                 10.24
Name: 26, dtype: object]
item -> [date            2021-10-30
LocationName     Hérémence
rain                 14.18
Name: 27, dtype: object]
item -> [date            2021-11-01
LocationName     Hérémence
rain                 13.63
Name: 28, dtype: object, date            2021-11-02
LocationName     Hérémence
rain                  5.52
Name: 29, dtype: object, date            2021-11-03
LocationName     Hérémence
rain                 18.66
Name: 30, dtype: object, date            2021-11-04
LocationName     Hérémence
rain                  9.56
Name: 31, dtype: object]
item -> [date            2021-11-08
LocationName     Hérémence
rain                 10.08
Name: 32, dtype: object]
item -> [date            2021-11-13
LocationName     Hérémence
rain                   4.8
Name: 33, dtype: object]
item -> [date            2021-11-15
LocationName     Hérémence
rain                  4.08
Name: 34, dtype: object]
item -> [date            2021-11-17
LocationName     Hérémence
rain                  2.64
Name: 35, dtype: object]
item -> [date            2021-11-20
LocationName     Hérémence
rain                  2.88
Name: 36, dtype: object, date            2021-11-21
LocationName     Hérémence
rain                  4.15
Name: 37, dtype: object, date            2021-11-22
LocationName     Hérémence
rain                  3.12
Name: 38, dtype: object]
item -> [date            2021-11-25
LocationName     Hérémence
rain                   8.6
Name: 39, dtype: object, date            2021-11-26
LocationName     Hérémence
rain                 13.84
Name: 40, dtype: object]
item -> [date            2021-12-01
LocationName     Hérémence
rain                 12.66
Name: 41, dtype: object, date            2021-12-02
LocationName     Hérémence
rain                  3.24
Name: 42, dtype: object]
item -> [date            2021-12-04
LocationName     Hérémence
rain                 14.88
Name: 43, dtype: object, date            2021-12-05
LocationName     Hérémence
rain                 10.16
Name: 44, dtype: object]
item -> [date            2021-12-08
LocationName     Hérémence
rain                 12.84
Name: 45, dtype: object]
item -> [date            2021-12-22
LocationName     Hérémence
rain                  2.88
Name: 46, dtype: object, date            2021-12-23
LocationName     Hérémence
rain                  5.04
Name: 47, dtype: object, date            2021-12-24
LocationName     Hérémence
rain                  2.88
Name: 48, dtype: object, date            2021-12-25
LocationName     Hérémence
rain                   2.4
Name: 49, dtype: object]