In [26]:
# Imports
from sqlalchemy import create_engine
import pandas as pd

In [32]:
# Establish connection with DB (using sqlalchemy)
db_connection_str = 'mysql+pymysql://dev:1234qwerASD!@192.168.33.100/WeatherDB'
db_connection = create_engine(db_connection_str)

# Read everything from RawData1h
raw_data = pd.read_sql("SELECT * FROM RawData1h WHERE (TimeStamp > '2020-01-01 00:00:00' AND TimeStamp < '2020-12-31 00:00:00')", con=db_connection)
pdata = pd.DataFrame(raw_data)

# Display header just to be sure we have something
pdata.head(3)

,IdRecordsByHour,LocationId,hashMsg,TimeStamp,Temp2m,GrowDeg2m,Temp1000mb,Temp850mb,Temp700mb,Rain,...,PressureMSL,Pressure850mb,Pressure700mb,Pressure500mb,Evap,EvapFAO,TempSurf,SoilTemp,SoilMoisture,VapoPressureDelta
0,306793,6,4438cf7052071e2771290bf861880147,2020-01-01 01:00:00,2.52821,0.0,12.31,6.51,-1.01,0.0,...,1030.2,253.0,1579.0,3157.0,5744.0,0.0,0.051295,-9.60,-2.04001,0.372
1,306794,6,dadce6f29c32f23c329eacec71b4ece3,2020-01-01 02:00:00,3.06821,0.0,12.59,6.74,-0.77,0.0,...,1029.8,252.0,1578.0,3156.0,5745.0,0.0,0.051153,-9.68,-2.00998,0.371
2,306795,6,47dff28ff4b52715d8ae16a41381bb98,2020-01-01 03:00:00,3.43821,0.0,12.75,6.77,-0.54,0.0,...,1029.1,248.0,1574.0,3151.0,5742.0,0.0,0.049674,-10.46,-1.98999,0.371

In [33]:
pdata.describe()

,IdRecordsByHour,LocationId,Temp2m,GrowDeg2m,Temp1000mb,Temp850mb,Temp700mb,Rain,Snow,RHumidity,...,PressureMSL,Pressure850mb,Pressure700mb,Pressure500mb,Evap,EvapFAO,TempSurf,SoilTemp,SoilMoisture,VapoPressureDelta
count,8759.000000,8759.0,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,...,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000
mean,311172.000000,6.0,7.690417,0.092616,16.043900,7.328036,-2.209623,0.177851,0.018469,75.391026,...,1017.685912,143.482589,1496.232104,3065.421281,5659.451421,0.053967,0.084070,7.770779,7.565152,0.336554
std,2528.649837,0.0,7.691379,0.159855,7.163487,6.586078,5.455276,0.471206,0.132602,20.316433,...,8.186809,64.511927,68.622770,88.362088,133.682341,0.082502,0.124097,10.404448,6.488092,0.041683
min,306793.000000,6.0,-15.991800,0.000000,-1.980000,-9.780000,-17.760000,0.000000,0.000000,1.000000,...,979.900000,-144.000000,1152.000000,2677.000000,5149.000000,0.000000,0.000000,-21.620000,-4.720000,0.262000
25%,308982.500000,6.0,1.218210,0.000000,10.675000,2.770000,-5.330000,0.000000,0.000000,62.000000,...,1013.900000,111.000000,1464.000000,3016.000000,5588.000000,0.000000,0.000701,0.140000,1.140010,0.300000
50%,311172.000000,6.0,7.318210,0.000000,16.090000,7.350000,-2.020000,0.000000,0.000000,80.000000,...,1018.100000,147.000000,1509.000000,3084.000000,5678.000000,0.011520,0.029723,6.690000,7.290010,0.337000
75%,313361.500000,6.0,13.308200,0.137842,21.070000,11.795000,1.590000,0.000000,0.000000,94.000000,...,1022.300000,182.000000,1542.000000,3127.000000,5756.000000,0.078480,0.110253,14.105000,12.895000,0.370000
max,315551.000000,6.0,29.768200,0.823676,35.370000,24.700000,9.340000,4.800000,2.800000,100.000000,...,1046.500000,332.000000,1634.000000,3246.000000,5937.000000,0.434880,0.620309,52.670000,24.180000,0.442000

In [37]:
pdata.sort_values('Rain',axis=1, ascending=True, inplace=False, kind='quicksort', ignore_index=False)
pdata[pdata['Rain']]

NameError: name 'by' is not defined

In [21]:
pdata[pdata['Temp2m'] > 33]

,IdRecordsByHour,LocationId,hashMsg,TimeStamp,Temp2m,GrowDeg2m,Temp1000mb,Temp850mb,Temp700mb,Rain,...,PressureMSL,Pressure850mb,Pressure700mb,Pressure500mb,Evap,EvapFAO,TempSurf,SoilTemp,SoilMoisture,VapoPressureDelta
267420,267421,6,ea893f590a200cd824ad5de5ae12158b,2015-07-05 13:00:00,33.2882,0.833333,38.38,27.52,11.19,0.0,...,1015.4,114.0,1558.0,3225.0,5911.0,0.29520,0.645643,43.68,23.42,0.221
302244,302245,6,833b2fe36fc37f92182546e4e425f82f,2019-06-25 13:00:00,33.0282,0.833333,36.72,25.92,11.90,0.0,...,1019.0,148.0,1586.0,3248.0,5947.0,0.38736,0.702124,44.19,21.04,0.294

In [ ]:

aggregatedYears = raw_data.groupby(['year'])
raw_data.describe()