In [1]:
# Imports
from sqlalchemy import create_engine
import pandas as pd

In [32]:
# Establish connection with DB (using sqlalchemy)
db_connection_str = 'mysql+pymysql://dev:1234qwerASD!@192.168.133.100/WeatherDB'
db_connection = create_engine(db_connection_str)

# Read everything from RawData1h
raw_data = pd.read_sql("SELECT * FROM RawData1h WHERE (TimeStamp > '2020-01-01 00:00:00' AND TimeStamp < '2020-12-31 00:00:00')", con=db_connection)
pdata = pd.DataFrame(raw_data)

# Display header just to be sure we have something
pdata.head(3)

,IdRecordsByHour,LocationId,hashMsg,TimeStamp,Temp2m,GrowDeg2m,Temp1000mb,Temp850mb,Temp700mb,Rain,...,PressureMSL,Pressure850mb,Pressure700mb,Pressure500mb,Evap,EvapFAO,TempSurf,SoilTemp,SoilMoisture,VapoPressureDelta
0,306793,6,4438cf7052071e2771290bf861880147,2020-01-01 01:00:00,2.52821,0.0,12.31,6.51,-1.01,0.0,...,1030.2,253.0,1579.0,3157.0,5744.0,0.0,0.051295,-9.60,-2.04001,0.372
1,306794,6,dadce6f29c32f23c329eacec71b4ece3,2020-01-01 02:00:00,3.06821,0.0,12.59,6.74,-0.77,0.0,...,1029.8,252.0,1578.0,3156.0,5745.0,0.0,0.051153,-9.68,-2.00998,0.371
2,306795,6,47dff28ff4b52715d8ae16a41381bb98,2020-01-01 03:00:00,3.43821,0.0,12.75,6.77,-0.54,0.0,...,1029.1,248.0,1574.0,3151.0,5742.0,0.0,0.049674,-10.46,-1.98999,0.371

In [33]:
pdata.describe()

,IdRecordsByHour,LocationId,Temp2m,GrowDeg2m,Temp1000mb,Temp850mb,Temp700mb,Rain,Snow,RHumidity,...,PressureMSL,Pressure850mb,Pressure700mb,Pressure500mb,Evap,EvapFAO,TempSurf,SoilTemp,SoilMoisture,VapoPressureDelta
count,8759.000000,8759.0,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,...,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000
mean,311172.000000,6.0,7.690417,0.092616,16.043900,7.328036,-2.209623,0.177851,0.018469,75.391026,...,1017.685912,143.482589,1496.232104,3065.421281,5659.451421,0.053967,0.084070,7.770779,7.565152,0.336554
std,2528.649837,0.0,7.691379,0.159855,7.163487,6.586078,5.455276,0.471206,0.132602,20.316433,...,8.186809,64.511927,68.622770,88.362088,133.682341,0.082502,0.124097,10.404448,6.488092,0.041683
min,306793.000000,6.0,-15.991800,0.000000,-1.980000,-9.780000,-17.760000,0.000000,0.000000,1.000000,...,979.900000,-144.000000,1152.000000,2677.000000,5149.000000,0.000000,0.000000,-21.620000,-4.720000,0.262000
25%,308982.500000,6.0,1.218210,0.000000,10.675000,2.770000,-5.330000,0.000000,0.000000,62.000000,...,1013.900000,111.000000,1464.000000,3016.000000,5588.000000,0.000000,0.000701,0.140000,1.140010,0.300000
50%,311172.000000,6.0,7.318210,0.000000,16.090000,7.350000,-2.020000,0.000000,0.000000,80.000000,...,1018.100000,147.000000,1509.000000,3084.000000,5678.000000,0.011520,0.029723,6.690000,7.290010,0.337000
75%,313361.500000,6.0,13.308200,0.137842,21.070000,11.795000,1.590000,0.000000,0.000000,94.000000,...,1022.300000,182.000000,1542.000000,3127.000000,5756.000000,0.078480,0.110253,14.105000,12.895000,0.370000
max,315551.000000,6.0,29.768200,0.823676,35.370000,24.700000,9.340000,4.800000,2.800000,100.000000,...,1046.500000,332.000000,1634.000000,3246.000000,5937.000000,0.434880,0.620309,52.670000,24.180000,0.442000

In [37]:
pdata.sort_values('Rain',axis=1, ascending=True, inplace=False, kind='quicksort', ignore_index=False)
pdata[pdata['Rain']]

NameError: name 'by' is not defined

In [21]:
pdata[pdata['Temp2m'] > 33]

,IdRecordsByHour,LocationId,hashMsg,TimeStamp,Temp2m,GrowDeg2m,Temp1000mb,Temp850mb,Temp700mb,Rain,...,PressureMSL,Pressure850mb,Pressure700mb,Pressure500mb,Evap,EvapFAO,TempSurf,SoilTemp,SoilMoisture,VapoPressureDelta
267420,267421,6,ea893f590a200cd824ad5de5ae12158b,2015-07-05 13:00:00,33.2882,0.833333,38.38,27.52,11.19,0.0,...,1015.4,114.0,1558.0,3225.0,5911.0,0.29520,0.645643,43.68,23.42,0.221
302244,302245,6,833b2fe36fc37f92182546e4e425f82f,2019-06-25 13:00:00,33.0282,0.833333,36.72,25.92,11.90,0.0,...,1019.0,148.0,1586.0,3248.0,5947.0,0.38736,0.702124,44.19,21.04,0.294

In [ ]:
aggregatedYears = raw_data.groupby(['year'])
raw_data.describe()

In [5]:
# Establish connection with DB (using sqlalchemy)
db_connection_str = 'mysql+pymysql://dev:1234qwerASD@192.168.1.15/WeatherDB'
db_connection = create_engine(db_connection_str)

# Count records by locations
raw_data = pd.read_sql(
"""SELECT Locations.name as name, COUNT(*) as nbRecords
FROM Records
INNER JOIN Locations ON Records.id_location = Locations.id
GROUP BY id_location;""", con=db_connection)
pdata = pd.DataFrame(raw_data)

# Display header just to be sure we have something
pdata.head(10)

        name  nbRecords
0       Sion       2356
1    EvolÃ¨ne       1817
2     Geneva       2702
3   Lausanne       2672
4  HÃ©rÃ©mence       2877

In [7]:
# Establish connection with DB (using sqlalchemy)
db_connection_str = 'mysql+pymysql://dev:1234qwerASD@192.168.1.15/WeatherDB'
db_connection = create_engine(db_connection_str)

# Get average values per locations
raw_data = pd.read_sql(
"""SELECT 
	    id_location, 
        Locations.name,
	    ROUND(AVG(pressure),2) AS avgPress,
	    ROUND(AVG(temp - 271.15),2) AS avgTemp,
	    ROUND(AVG(humidity),2) AS avgHumidity
    FROM Records
    INNER JOIN Locations on id_location = Locations.id
    GROUP BY id_location;""", con=db_connection)
pdata = pd.DataFrame(raw_data)

# Display header just to be sure we have something
pdata.head(10)

   id_location       name  avgPress  avgTemp  avgHumidity
0            2       Sion   1019.66    23.78        62.50
1            3    EvolÃ¨ne   1019.58    18.48        61.63
2            4     Geneva   1019.66    23.04        66.51
3            5   Lausanne   1018.45    22.99        70.27
4            6  HÃ©rÃ©mence   1019.70    19.18        62.06

In [ ]:
# Establish connection with DB (using sqlalchemy)
db_connection_str = 'mysql+pymysql://dev:1234qwerASD@192.168.1.15/WeatherDB'
db_connection = create_engine(db_connection_str)

# Get average values per locations
raw_data = pd.read_sql(
""" SELECT 
	    id_location, 
        Locations.name,
	    ROUND(MIN(pressure),2) AS MINPress,
	    ROUND(MIN(temp - 271.15),2) AS MINTemp,
	    ROUND(MIN(humidity),2) AS MINHumidity
    FROM Records
    Inner join Locations on id_location = Locations.id
    group by id_location;;""", con=db_connection)
pdata = pd.DataFrame(raw_data)

# Display header just to be sure we have something
pdata.head(10)

In [36]:
# Establish connection with DB (using sqlalchemy)
db_connection_str = 'mysql+pymysql://dev:1234qwerASD@192.168.1.15/WeatherDB'
db_connection = create_engine(db_connection_str)
my_date='2021-08-10'
loc = 6

# Get average values per locations
raw_data = pd.read_sql(""" SELECT 
	DATE(date_timestamp),
    CASE 
	  WHEN HOUR(date_timestamp) BETWEEN 0 AND 1 THEN '00:00 - 01:00'
	  WHEN HOUR(date_timestamp) BETWEEN 1 AND 2 THEN '01:00 - 02:00'
	  WHEN HOUR(date_timestamp) BETWEEN 2 AND 3 THEN '02:00 - 03:00'
	  WHEN HOUR(date_timestamp) BETWEEN 3 AND 4 THEN '03:00 - 04:00'
	  WHEN HOUR(date_timestamp) BETWEEN 4 AND 5 THEN '04:00 - 05:00'
	  WHEN HOUR(date_timestamp) BETWEEN 5 AND 6 THEN '05:00 - 06:00'
	  WHEN HOUR(date_timestamp) BETWEEN 6 AND 7 THEN '06:00 - 07:00'
	  WHEN HOUR(date_timestamp) BETWEEN 7 AND 8 THEN '07:00 - 08:00'
	  WHEN HOUR(date_timestamp) BETWEEN 8 AND 9 THEN '08:00 - 09:00'
	  WHEN HOUR(date_timestamp) BETWEEN 9 AND 10 THEN '09:00 - 10:00'
	  WHEN HOUR(date_timestamp) BETWEEN 10 AND 11 THEN '10:00 - 11:00'
	  WHEN HOUR(date_timestamp) BETWEEN 11 AND 12 THEN '11:00 - 12:00'
	  WHEN HOUR(date_timestamp) BETWEEN 12 AND 13 THEN '12:00 - 13:00'
	  WHEN HOUR(date_timestamp) BETWEEN 13 AND 14 THEN '13:00 - 14:00'
	  WHEN HOUR(date_timestamp) BETWEEN 14 AND 15 THEN '14:00 - 15:00'
	  WHEN HOUR(date_timestamp) BETWEEN 15 AND 16 THEN '15:00 - 16:00'
	  WHEN HOUR(date_timestamp) BETWEEN 16 AND 17 THEN '16:00 - 17:00'
	  WHEN HOUR(date_timestamp) BETWEEN 17 AND 18 THEN '17:00 - 18:00'
	  WHEN HOUR(date_timestamp) BETWEEN 18 AND 19 THEN '18:00 - 19:00'
	  WHEN HOUR(date_timestamp) BETWEEN 19 AND 20 THEN '19:00 - 20:00'
	  WHEN HOUR(date_timestamp) BETWEEN 20 AND 21 THEN '20:00 - 21:00'
	  WHEN HOUR(date_timestamp) BETWEEN 21 AND 22 THEN '21:00 - 22:00'
	  WHEN HOUR(date_timestamp) BETWEEN 22 AND 23 THEN '22:00 - 23:00'
	  WHEN HOUR(date_timestamp) BETWEEN 23 AND 24 THEN '23:00 - 00:00'
	END AS `Hours`, 
	    COUNT(*) AS nbRec,
		hour(date(date_timestamp)) AS `Hour`, 
		round(min(temp),2) - 271.5 as minTemp,
		round(max(temp),2) - 271.5 as maxTemp,
		round(avg(temp),2) - 271.5 as avgTemp,
		round(min(feels_like),2) - 271.5 as minFeelsLike,
		round(max(feels_like),2) - 271.5 as maxFeelsLike,
		round(avg(feels_like),2) - 271.5 as avgFeelsLike,
		round(min(pressure),2) as minPressure,
		round(max(pressure),2) as maxPressure,
		round(avg(pressure),2) as avgPressure,
		round(min(humidity),2) as minHumidity,
		round(max(humidity),2) as maxHumidity,
		round(avg(humidity),2) as avgHumidity,
		round(avg(wind_speed),2) as avgWindSpeed,
		round(max(wind_speed),2) as gust,
		round(avg(wind_dir),2) as avgWindDir,
		round(avg(clouds_cover),2) as avgCloudsCover,
		round(avg(rain_1h),2) as sumRain,
		round(sum(snow_1h),2) as sumSnow
	FROM Records
	WHERE (DATE(date_timestamp) = date('{}')) AND id_location = {}
	GROUP BY 
	  CASE 
		WHEN HOUR(date_timestamp) BETWEEN 0 AND 1 THEN 1
		WHEN HOUR(date_timestamp) BETWEEN 1 AND 2 THEN 2
		WHEN HOUR(date_timestamp) BETWEEN 2 AND 3 THEN 3
		WHEN HOUR(date_timestamp) BETWEEN 3 AND 4 THEN 4
		WHEN HOUR(date_timestamp) BETWEEN 4 AND 5 THEN 5
		WHEN HOUR(date_timestamp) BETWEEN 5 AND 6 THEN 6
		WHEN HOUR(date_timestamp) BETWEEN 6 AND 7 THEN 7
		WHEN HOUR(date_timestamp) BETWEEN 7 AND 8 THEN 8
		WHEN HOUR(date_timestamp) BETWEEN 8 AND 9 THEN 9
		WHEN HOUR(date_timestamp) BETWEEN 9 AND 10 THEN 10
		WHEN HOUR(date_timestamp) BETWEEN 10 AND 11 THEN 11
		WHEN HOUR(date_timestamp) BETWEEN 11 AND 12 THEN 12
		WHEN HOUR(date_timestamp) BETWEEN 12 AND 13 THEN 13
		WHEN HOUR(date_timestamp) BETWEEN 13 AND 14 THEN 14
		WHEN HOUR(date_timestamp) BETWEEN 14 AND 15 THEN 15
		WHEN HOUR(date_timestamp) BETWEEN 15 AND 16 THEN 16
		WHEN HOUR(date_timestamp) BETWEEN 16 AND 17 THEN 17
		WHEN HOUR(date_timestamp) BETWEEN 17 AND 18 THEN 18
		WHEN HOUR(date_timestamp) BETWEEN 18 AND 19 THEN 19
		WHEN HOUR(date_timestamp) BETWEEN 19 AND 20 THEN 20
		WHEN HOUR(date_timestamp) BETWEEN 20 AND 21 THEN 21
		WHEN HOUR(date_timestamp) BETWEEN 21 AND 22 THEN 22
		WHEN HOUR(date_timestamp) BETWEEN 22 AND 23 THEN 23
		WHEN HOUR(date_timestamp) BETWEEN 23 AND 24 THEN 24
	END;""".format(my_date, loc), con=db_connection)
pdata = pd.DataFrame(raw_data)

# Display header just to be sure we have something
pdata.head(30)

,DATE(date_timestamp),Hours,nbRec,Hour,minTemp,maxTemp,avgTemp,minFeelsLike,maxFeelsLike,avgFeelsLike,...,avgPressure,minHumidity,maxHumidity,avgHumidity,avgWindSpeed,gust,avgWindDir,avgCloudsCover,sumRain,sumSnow
0,2021-08-23,00:00 - 01:00,6,0,14.53,15.56,15.26,13.88,14.96,14.64,...,1021.00,74.0,77.0,75.17,1.28,1.54,0.0,33.33,0.0,0.0
1,2021-08-23,01:00 - 02:00,1,0,13.93,13.93,13.93,13.35,13.35,13.35,...,1021.00,82.0,82.0,82.00,1.54,1.54,90.0,0.00,0.0,0.0
2,2021-08-23,03:00 - 04:00,1,0,13.11,13.11,13.11,12.58,12.58,12.58,...,1021.00,87.0,87.0,87.00,2.57,2.57,80.0,0.00,0.0,0.0
3,2021-08-23,06:00 - 07:00,1,0,13.14,13.14,13.14,12.54,12.54,12.54,...,1021.00,84.0,84.0,84.00,2.06,2.06,90.0,40.00,0.0,0.0
4,2021-08-23,07:00 - 08:00,1,0,13.89,13.89,13.89,13.26,13.26,13.26,...,1021.00,80.0,80.0,80.00,0.00,0.00,0.0,40.00,0.0,0.0
5,2021-08-23,08:00 - 09:00,1,0,15.68,15.68,15.68,14.89,14.89,14.89,...,1021.00,67.0,67.0,67.00,0.51,0.51,0.0,20.00,0.0,0.0
6,2021-08-23,09:00 - 10:00,1,0,16.94,16.94,16.94,16.17,16.17,16.17,...,1020.00,63.0,63.0,63.00,3.09,3.09,240.0,20.00,0.0,0.0
7,2021-08-23,10:00 - 11:00,1,0,17.51,17.51,17.51,16.61,16.61,16.61,...,1020.00,56.0,56.0,56.00,2.57,2.57,0.0,20.00,0.0,0.0
8,2021-08-23,11:00 - 12:00,1,0,18.81,18.81,18.81,17.78,17.78,17.78,...,1019.00,46.0,46.0,46.00,3.09,3.09,230.0,40.00,0.0,0.0
9,2021-08-23,12:00 - 13:00,1,0,19.51,19.51,19.51,18.55,18.55,18.55,...,1019.00,46.0,46.0,46.00,5.66,5.66,240.0,40.00,0.0,0.0
10,2021-08-23,13:00 - 14:00,2,0,20.36,20.48,20.42,19.36,19.54,19.45,...,1018.00,41.0,43.0,42.00,7.20,7.72,250.0,40.00,0.0,0.0
11,2021-08-23,14:00 - 15:00,3,0,20.50,20.59,20.53,19.56,19.66,19.59,...,1017.67,43.0,43.0,43.00,7.54,8.23,250.0,33.33,0.0,0.0
12,2021-08-23,16:00 - 17:00,2,0,20.21,20.40,20.30,19.19,19.40,19.29,...,1016.00,41.0,41.0,41.00,6.17,6.17,250.0,40.00,0.0,0.0
13,2021-08-23,18:00 - 19:00,1,0,18.61,18.61,18.61,17.56,17.56,17.56,...,1017.00,46.0,46.0,46.00,7.20,7.20,250.0,40.00,0.0,0.0
14,2021-08-23,19:00 - 20:00,8,0,16.93,17.71,17.22,15.87,16.73,16.19,...,1017.00,52.0,52.0,52.00,4.63,6.17,257.5,10.00,0.0,0.0
15,2021-08-23,20:00 - 21:00,7,0,16.16,17.11,16.57,15.13,16.17,15.58,...,1018.00,56.0,56.0,56.00,2.57,2.57,260.0,20.00,0.0,0.0
16,2021-08-23,21:00 - 22:00,1,0,16.27,16.27,16.27,15.35,15.35,15.35,...,1018.00,60.0,60.0,60.00,3.09,3.09,260.0,90.00,0.0,0.0
17,2021-08-23,22:00 - 23:00,2,0,15.14,16.00,15.57,14.19,15.06,14.62,...,1019.00,60.0,63.0,61.50,0.77,1.03,0.0,65.00,0.0,0.0

In [35]:
from datetime import date, timedelta

def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days)):
        yield start_date + timedelta(n)

# Establish connection with DB (using sqlalchemy)
db_connection_str = 'mysql+pymysql://dev:1234qwerASD@192.168.1.15/WeatherDB'
db_connection = create_engine(db_connection_str)
start_date = date(2021,1,1)
end_date = date(2021,8,24)
loc = 6

pdata = pd.DataFrame([])

for my_date in daterange(start_date, end_date):
    # Get average values per locations
    raw_data = pd.read_sql(""" SELECT 
        DATE(date_timestamp),
        CASE 
        WHEN HOUR(date_timestamp) BETWEEN 0 AND 1 THEN '00:00 - 01:00'
        WHEN HOUR(date_timestamp) BETWEEN 1 AND 2 THEN '01:00 - 02:00'
        WHEN HOUR(date_timestamp) BETWEEN 2 AND 3 THEN '02:00 - 03:00'
        WHEN HOUR(date_timestamp) BETWEEN 3 AND 4 THEN '03:00 - 04:00'
        WHEN HOUR(date_timestamp) BETWEEN 4 AND 5 THEN '04:00 - 05:00'
        WHEN HOUR(date_timestamp) BETWEEN 5 AND 6 THEN '05:00 - 06:00'
        WHEN HOUR(date_timestamp) BETWEEN 6 AND 7 THEN '06:00 - 07:00'
        WHEN HOUR(date_timestamp) BETWEEN 7 AND 8 THEN '07:00 - 08:00'
        WHEN HOUR(date_timestamp) BETWEEN 8 AND 9 THEN '08:00 - 09:00'
        WHEN HOUR(date_timestamp) BETWEEN 9 AND 10 THEN '09:00 - 10:00'
        WHEN HOUR(date_timestamp) BETWEEN 10 AND 11 THEN '10:00 - 11:00'
        WHEN HOUR(date_timestamp) BETWEEN 11 AND 12 THEN '11:00 - 12:00'
        WHEN HOUR(date_timestamp) BETWEEN 12 AND 13 THEN '12:00 - 13:00'
        WHEN HOUR(date_timestamp) BETWEEN 13 AND 14 THEN '13:00 - 14:00'
        WHEN HOUR(date_timestamp) BETWEEN 14 AND 15 THEN '14:00 - 15:00'
        WHEN HOUR(date_timestamp) BETWEEN 15 AND 16 THEN '15:00 - 16:00'
        WHEN HOUR(date_timestamp) BETWEEN 16 AND 17 THEN '16:00 - 17:00'
        WHEN HOUR(date_timestamp) BETWEEN 17 AND 18 THEN '17:00 - 18:00'
        WHEN HOUR(date_timestamp) BETWEEN 18 AND 19 THEN '18:00 - 19:00'
        WHEN HOUR(date_timestamp) BETWEEN 19 AND 20 THEN '19:00 - 20:00'
        WHEN HOUR(date_timestamp) BETWEEN 20 AND 21 THEN '20:00 - 21:00'
        WHEN HOUR(date_timestamp) BETWEEN 21 AND 22 THEN '21:00 - 22:00'
        WHEN HOUR(date_timestamp) BETWEEN 22 AND 23 THEN '22:00 - 23:00'
        WHEN HOUR(date_timestamp) BETWEEN 23 AND 24 THEN '23:00 - 00:00'
        END AS `Hours`, 
            COUNT(*) AS nbRec,
            hour(date(date_timestamp)) AS `Hour`, 
            round(min(temp),2) - 271.5 as minTemp,
            round(max(temp),2) - 271.5 as maxTemp,
            round(avg(temp),2) - 271.5 as avgTemp,
            round(min(feels_like),2) - 271.5 as minFeelsLike,
            round(max(feels_like),2) - 271.5 as maxFeelsLike,
            round(avg(feels_like),2) - 271.5 as avgFeelsLike,
            round(min(pressure),2) as minPressure,
            round(max(pressure),2) as maxPressure,
            round(avg(pressure),2) as avgPressure,
            round(min(humidity),2) as minHumidity,
            round(max(humidity),2) as maxHumidity,
            round(avg(humidity),2) as avgHumidity,
            round(avg(wind_speed),2) as avgWindSpeed,
            round(max(wind_speed),2) as gust,
            round(avg(wind_dir),2) as avgWindDir,
            round(avg(clouds_cover),2) as avgCloudsCover,
            round(avg(rain_1h),2) as sumRain,
            round(sum(snow_1h),2) as sumSnow
        FROM Records
        WHERE (DATE(date_timestamp) = {}) AND id_location = {}
        GROUP BY 
        CASE 
            WHEN HOUR(date_timestamp) BETWEEN 0 AND 1 THEN 1
            WHEN HOUR(date_timestamp) BETWEEN 1 AND 2 THEN 2
            WHEN HOUR(date_timestamp) BETWEEN 2 AND 3 THEN 3
            WHEN HOUR(date_timestamp) BETWEEN 3 AND 4 THEN 4
            WHEN HOUR(date_timestamp) BETWEEN 4 AND 5 THEN 5
            WHEN HOUR(date_timestamp) BETWEEN 5 AND 6 THEN 6
            WHEN HOUR(date_timestamp) BETWEEN 6 AND 7 THEN 7
            WHEN HOUR(date_timestamp) BETWEEN 7 AND 8 THEN 8
            WHEN HOUR(date_timestamp) BETWEEN 8 AND 9 THEN 9
            WHEN HOUR(date_timestamp) BETWEEN 9 AND 10 THEN 10
            WHEN HOUR(date_timestamp) BETWEEN 10 AND 11 THEN 11
            WHEN HOUR(date_timestamp) BETWEEN 11 AND 12 THEN 12
            WHEN HOUR(date_timestamp) BETWEEN 12 AND 13 THEN 13
            WHEN HOUR(date_timestamp) BETWEEN 13 AND 14 THEN 14
            WHEN HOUR(date_timestamp) BETWEEN 14 AND 15 THEN 15
            WHEN HOUR(date_timestamp) BETWEEN 15 AND 16 THEN 16
            WHEN HOUR(date_timestamp) BETWEEN 16 AND 17 THEN 17
            WHEN HOUR(date_timestamp) BETWEEN 17 AND 18 THEN 18
            WHEN HOUR(date_timestamp) BETWEEN 18 AND 19 THEN 19
            WHEN HOUR(date_timestamp) BETWEEN 19 AND 20 THEN 20
            WHEN HOUR(date_timestamp) BETWEEN 20 AND 21 THEN 21
            WHEN HOUR(date_timestamp) BETWEEN 21 AND 22 THEN 22
            WHEN HOUR(date_timestamp) BETWEEN 22 AND 23 THEN 23
            WHEN HOUR(date_timestamp) BETWEEN 23 AND 24 THEN 24
        END;""".format(my_date, loc), con=db_connection)
    curdata = pd.DataFrame(raw_data)
    pdata = pdata.append(curdata, ignore_index = True)

# Display header just to be sure we have something
pdata.shape

(0, 22)

In [34]:
pdata

Empty DataFrame
Columns: [DATE(date_timestamp), Hours, nbRec, Hour, minTemp, maxTemp, avgTemp, minFeelsLike, maxFeelsLike, avgFeelsLike, minPressure, maxPressure, avgPressure, minHumidity, maxHumidity, avgHumidity, avgWindSpeed, gust, avgWindDir, avgCloudsCover, sumRain, sumSnow]
Index: []

[0 rows x 22 columns]